.guide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.header-guide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 0.4rem;
    font-size: 20pt;
    background: #114C02;
    border-radius: 0 0 1.4rem 1.4rem;
}

.title {
    font-size: 14pt;
    margin-left: 1rem;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.menu > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

.menu > ul > li {
    list-style: none;
}

.option {
    color: #ffffff;
}

#home-button {
    background: none;
    border: none;
    padding: 1rem;
}

#logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.game-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 90%;
    gap: 0.6rem;
    background: #D9D9D9;
    color: #000000;
    border-radius: 1rem;
}

.game-section > h3 {
    font-size: 20pt;
    margin: 0;
}

.game-section > button {
    width: 25%;
    border-radius: 2rem;
}

#card-guide-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    gap: 1rem;
    padding: 2rem 1rem;
    margin: 2rem;
    background: #114C02;
    border-radius: 1rem;
    font-size: 16pt;
}

#card-guide-one > img {
    width: 30%;
}

#card-guide-one > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

#card-guide-one > div > p {
    width: 70%;
    font-size: 20pt;
    text-align: center;
}